tqdm
numpy
torch
pandas
pillow
pathlib
xgboost
matplotlib
scikit-learn
transformers
torchvision==0.20.1

#### Only for exploration notebooks ####

# ipykernel

# opencv-python==3.4.18.65
# opencv-contrib-python
# hyperopt
# tf-keras
# seaborn
# ...